<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <div>
        <h5>Create Account</h5>
        <p class="text-danger" ng-if="message">{{message}}</p>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name">
      <div *ngIf="submitted && f.name.touched && f.name.invalid">
        <span  *ngIf="f.name.errors?.required"  class="text-danger"> Name is required</span>
   </div>
    </div> 
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" name="username">
      <div *ngIf="submitted && f.username.touched && f.username.invalid">
        <span  *ngIf="f.username.errors?.required"  class="text-danger"> Username is required</span>
   </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>

      <input type="password" class="form-control" id="password" formControlName="password" name="password">
      <div *ngIf="submitted && f.password.touched && f.password.invalid">
         <span  *ngIf="f.password.errors?.required"  class="text-danger"> Password is required</span>
    </div>
    </div>
    <div class="form-group">
        <label for="retypepassword">Confirm Password</label>
  
        <input type="password" class="form-control" id="retypepassword" formControlName="retypepassword" name="retypepassword">
        <div *ngIf="submitted && f.retypepassword.touched && f.retypepassword.invalid">
           <span  *ngIf="f.retypepassword.errors?.required"  class="text-danger"> Retype Password</span>
      </div>
      </div>
    <br>
    <div>
        <button class="btn btn-primary"  [disabled]="!signupForm.valid">REGISTER</button>
    </div>
  </form>